html {

  --text: #111111;
  --nav: #dee0e0;
  --background: #f0f2f2;
  --paper: #fdfeff;

  --container-width: 800px;

  --radius: 0;

  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

  --active-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.4);

  --no-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

  font-size: 18px;  /* Mobile base font size */

}

@media (min-width: 1000px) {  /* Desktop modifications */
  html {
    font-size: 20px;  /* Desktop base font size */
  }
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: monospace;
  line-height: 1.4rem;
  letter-spacing: 0.1em;
  background-image: url("wood.png");
  color: var(--text);
}

h1 {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

input {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.photoCard {
  display: block;
  max-width: 100%;
  max-height: 15rem;
  background: var(--paper);
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  box-sizing: border-box;
  transition: box-shadow 300ms, background 300ms;
}

.card:focus {
    outline: none;
}

.card {
  color: var(--text);
  text-shadow: 0 0 1px #00000055;
  text-decoration: none;
  background-image: url('paper.png');
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 1rem;
  box-sizing: border-box;
  transition: box-shadow 300ms, background 300ms;
}

.card:hover, .card:focus {
  box-shadow: var(--active-shadow);
}

.card:disabled {
  box-shadow: var(--no-shadow);
  background: #eee;
  cursor: not-allowed;
}

.sss {
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  border: 0.15rem solid #ccc;
  border-radius: var(--radius);
}

.entry-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.vertical-flex *:not([hidden]):first-child {
  margin-top: 0;
}

.vertical-flex *:not([hidden]) {
  margin-top: 1.5rem;
}

.horizontal-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.horizontal-flex .card:first-child {
  margin-left: 0;
}

.r0 {
  transform: rotate(-1deg);
}
.r1 {
  transform: rotate(1deg);
}
.r2 {
  transform: rotate(-1.25deg);
}
.r3 {
  transform: rotate(1.25deg);
}
.r4 {
  transform: rotate(-1.5deg);
}
.r5 {
  transform: rotate(1.5deg);
}

.horizontal-flex .card {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.text-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.journal-flex .card {
  flex-basis: 30%;
  min-width: 200px;
  flex-grow: 1;
  margin: 1rem;
}
